<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Futuristic Games Hub{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body {% if user %}data-user='{{ user|tojson }}'{% endif %}>
    {% block content %}{% endblock %}
    
    <!-- Scripts should be at the end of body -->
    {% block extra_js %}{% endblock %}
</body>
</html>